{% extends "base.html" %}

{% block content %}

<h2>Add Station</h2>

<form method="POST">

<input
class="form-control mb-3"
name="station_name"
placeholder="Station Name"
required>

<select
class="form-select mb-3"
name="line_id">

{% for line in lines %}

<option
value="{{ line.line_id }}">

{{ line.line_name }}

</option>

{% endfor %}

</select>

<input
class="form-control mb-3"
type="number"
name="station_order"
placeholder="Station Order"
required>

<button
class="btn btn-success">

Add Station

</button>

</form>

{% endblock %}