{% extends "base.html" %}

{% block content %}

<h2>Schedules</h2>

<a href="/add_schedule" class="btn btn-success mb-3">

Add Schedule

</a>

<table class="table table-bordered">

<tr>

<th>Train</th>

<th>Station</th>

<th>Arrival</th>

<th>Departure</th>

<th>Action</th>

</tr>

{% for s in schedules %}

<tr>

<td>{{ s.train_number }}</td>

<td>{{ s.station_name }}</td>

<td>{{ s.arrival_time }}</td>

<td>{{ s.departure_time }}</td>

<td>

<a
href="/delete_schedule/{{ s.schedule_id }}"
class="btn btn-danger btn-sm">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}