{% extends "base.html" %}

{% block content %}

<h2>Stations</h2>

<a href="/add_station" class="btn btn-success mb-3">

Add Station

</a>

<table class="table table-bordered">

<tr>

<th>ID</th>

<th>Station</th>

<th>Line</th>

<th>Action</th>

</tr>

{% for station in stations %}

<tr>

<td>{{ station.station_id }}</td>

<td>{{ station.station_name }}</td>

<td>{{ station.line_name }}</td>

<td>

<a
href="/delete_station/{{ station.station_id }}"
class="btn btn-danger btn-sm">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}