{% extends "base.html" %}

{% block content %}

<h2>Trains</h2>

<a href="/add_train" class="btn btn-success mb-3">

Add Train

</a>

<table class="table table-bordered">

<tr>

<th>No</th>

<th>Name</th>

<th>Line</th>

<th>Action</th>

</tr>

{% for train in trains %}

<tr>

<td>{{ train.train_number }}</td>

<td>{{ train.train_name }}</td>

<td>{{ train.line_name }}</td>

<td>

<a
href="/delete_train/{{ train.train_id }}"
class="btn btn-danger btn-sm">

Delete

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}